
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: brown;
  -webkit-box-shadow: 0 0 0px 1000px rgba(29, 29, 29, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 
var(--primary-background-color)
color :var(--primary-text-color);
var(--secounder-background-color)
var(--icon-filter)
var(--icon-filter-hover) */

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.lightmode{
    --primary-background-color : #999;
    --primary-text-color : #141517;
    --primary-text-rev-color: #fff ;
    --secoundry-text-color: rgb(40, 40, 40) ;
    
    --secounder-background-color :#cdcdcd;
    
    --icon-filter: none;
    --icon-filter-hover: invert(1) sepia(4%) saturate(768%) hue-rotate(167deg) brightness(700%) contrast(92%) ;
}
.darkemode{
    --primary-background-color : #141517;
    --primary-text-color : rgb(238, 238, 238);
    --primary-text-rev-color: #000 ;
    --secoundry-text-color: #999 ;
    --secounder-background-color :#1a1a1a;

    --icon-filter: invert(1) sepia(4%) saturate(768%) hue-rotate(167deg) brightness(700%) contrast(92%);
    --icon-filter-hover: none ;
}

.body {
    min-height: 80vh;
}

nav {
    background-color:var(--primary-background-color);

}

.loading {
    color :var(--primary-text-color);
    margin: 0%;
    min-height: 100vh;
    background-color:var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    display: block;
    color :var(--primary-text-color);
    margin: 1rem;
    width: 100%;
    background-color: #7ba7ff21;
    display: flex;
    padding: 1rem;
}

.alert.alert-danger {
    color: #fff;
    background-color: #ff12595c;
}

.grid-container {
    padding: 1rem;
    grid-template-columns: auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* .slider-container{
    display: inline-grid;
    padding: 1rem;
    grid-template-columns: auto  auto  auto  auto  auto  auto  auto  auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
} */
.slider-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 1rem;
    overflow-x: auto;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.slider-container::-webkit-scrollbar {
    width: 20px;
}

.slider-container::-webkit-scrollbar-track {
    background-color: #242526;
    border-radius: 100px;
}

.slider-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #989898 0%, #141517 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}




.grid-item {
    max-width: 600px;
}

/* comon */
.in-top-page{
    padding: 0.5rem 0;
    display: inline-flex;
    align-items: center;
}
.success {
    color: green;
}

.failed {
    color: red;
}
.disapled{ opacity: 0.1;}

.white-text {
    color: var(--primary-text-color);
}

.color-box {
    display: block;
    margin: 0;
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.count-circl{
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--primary-text-rev-color);
        border-radius: 50%;
}
h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    color: #505050
}

hr {
    width: auto;
}
form{
     max-width: 15rem;
     margin: 0 auto;
}
button {
    line-height: 28px;
    padding: 8px 50px;
    background: linear-gradient(180.71deg, #242526 -52.8%, rgb(0 0 0 / 41%) 211.15%);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
    border-radius: 18px;
    border: none;
    color: #fff;
    transition: background 0.5s;

}

button:hover {
    cursor: pointer;
    background: linear-gradient(180.71deg, #484a4c -52.8%, rgb(0 0 0 / 41%) 211.15%);
    border-radius: 18px;
    color: #000;
}

button.ancher {
    display: contents;
}

a {
    text-decoration: none;
    color :var(--primary-text-color);

}

a:hover {
    transition: .3s;
    color: var(--primary-background-color);
}

li {
    text-decoration: none;

}

.icon {
    width: 25px;
    height: 25px;
}

.big-icon{
    width: 2rem;
    height: 2rem;
}
.big-icon.revers,
a .icon,
.ancher .icon {
    filter: var(--icon-filter) ;
}

a .icon.revers,
.ancher .icon.revers {
    filter: var(--icon-filter-hover);
}

a .icon.revers:hover,
.ancher .icon.revers:hover {
    filter: var(--icon-filter) ;

}

a .icon:hover,
.ancher .icon:hover {
    filter: var(--icon-filter-hover) ;
}

.selected {
    transform: scale(1.2);
    border: 2px solid #fff;
}


.go-back.grid-container{
padding-top: 0;
}
.go-back {
    padding: 1rem;
    display: inline-flex;
    align-items: center;
}

.go-back .icon {
    padding: 0 1rem;

}

.stick-item {
    position: sticky;
    top: 50px;
    z-index: 1;
}

.category {
    background: var(--secounder-background-color);
}
.mopile-display-only{
    display: none;
    }
@media screen and (max-width: 768px) {
    .mopile-display-only{
        display: unset;
    }}
/* end comon */

/* start nav */
.search-bar {
    right: 11px;
    top: 44px;
    position: absolute;
}

header.stick-item {
    position: sticky;
    top: -1px;
    z-index: 3;
}

.brand-name {
    width: 5rem;
    filter: var(--icon-filter);
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(108, 108, 108, 0.2);
    z-index: 1;
    border-radius: 0.5rem;
}
  
.dropdown-content a {
    color: var(--primary-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 0.5rem;
}
.dropdown-content a.signout{color: brown }
.dropdown-content a:hover {background-color: var(--secoundry-text-color);}
  

.dropdown:hover .dropdown-content {display: block;}
.icon.profile-active{
    filter:invert(0.6) sepia(13%) saturate(782%) hue-rotate(318deg) brightness(49%) contrast(153%);;
}
  
.counter {
    position: relative;
}

.counter span {
    position: absolute;
    background: rgb(170, 170, 170);
    width: 14px;
    height: 14px;
    font-size: 11px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 10px;
    z-index: 1;


}

.grid-item.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}
.grid-item.left .icon{
    width: 21px;
    height: 21px;
    padding: 4px;
}

.grid-item.center .icon {
    width: 18px;
    height: 18px;
}

.menus {
    display: none;
}

.grid-item.center.expand {
    z-index: 10;
    gap: 33px;
    display: inline-grid;
    position: absolute;
    top: 71px;
    width: 80%;
    height: 400px;
    left: 0px;
    padding: 0 1rem;
    border-radius: 0 20px 20px 0;
    background-color: var(--primary-background-color);
}

@media screen and (max-width: 768px) {
    .menus {
        display: block;
    }

    .grid-item.center {
        display: none;
    }

    .display-button {
        z-index: 4;
        position: absolute;
        width: 100%;
        height: 100vh;
        opacity: 69%;
        border-radius: 0;
        background: #000000;
    }

}

/* end nav */

/* start heading */
#heading {
    background-color: var(--primary-background-color);
    position: relative;
}

#heading img {
    width: 100%;
    border-radius: 71px 0px 0px 70px;
}

#heading button {
    margin: 2rem 2rem 2rem 0;
}

#heading a {
    font-size: 0.7rem;

}

.back-word {
    position: absolute;
    top: -9rem;
    left: 1rem;
    font-family: 'Alata';
    font-weight: 400;
    font-size: 346.41px;
    line-height: 478px;
    letter-spacing: 0.05em;
    font-style: normal;
    color: #1415172b;
    filter: drop-shadow(0px 0px 220px rgba(255, 255, 255, 0.115));
    z-index: 0;
}

#heading .grid-container {
    padding: 0%;
    margin: 0;
    align-items: normal;
}

.fornt-image {
    z-index: 1;
}

@media screen and (min-width:831px) and (max-width:1219px) {
    .fornt-image {
        width: 60%;
    }
}

.content-1 {
    padding: 1rem;
    position: relative;
    top: 18rem;
    left: 4rem;
    align-items: center;
    color: var(--primary-text-color);

}

.content-2 {
    display: none;
    color: var(--secoundry-text-color);

}

@media screen and (max-width: 1220px) {
    .back-word {
        display: none;
    }

    .content-1 {
        position: relative;
        top: 13rem;
        left: 2rem;

    }

    #heading a {
        display: block;
        padding: 0 2.6rem;
    }

}

@media screen and (max-width: 830px) {
    .content-1 {
        display: none;
    }

    .content-2 {
        display: block;
        position: relative;
        top: -9rem;
        z-index: 2;
        width: 100%;
        margin: 1rem;
    }

    #heading img {
        width: 100%;
        border-radius: 0px 51px 0px 57px;
        order: 0;
        flex-grow: 0;
    }

    #heading a {
        display: block;
        width: fit-content;
        margin: 1rem auto;
    }

    #heading button {
        margin: 2rem auto;
        display: block;
    }





}

/* end heading */

/* start products */
#products {
    background-color: var(--secounder-background-color);
    min-height: 100vh;
}

#products .main-pic {
    width: 200px;
}

#products h1 {
    color :var(--primary-text-color);
    font-size: 1rem;
}

#products .grid-container {
    padding: 1rem;
    padding-bottom: 7rem;
    display: grid;
    justify-content: space-around;
}

#products .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

#products .grid-container.category {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.div-stiky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.card {
    margin: 1rem;
    position: relative;
}

.card .stock {
    left: 6px;
    color :var(--primary-text-color);
    display: block;
    margin: 0;
    font-size: 0.6rem;
    background: #7f7e7ef2;
    position: absolute;
    top: 10px;
}

.card .heart-icon {
    top: 15px;
    right: 16px;
    display: block;
    position: absolute;
}

.card-image {
    width: 220px;
    padding: 0.5rem;
    background-color: #999;
    border-radius: 25px;
    filter: drop-shadow(-4px 10px 5px rgba(0, 0, 0, 0.5));

}

#products .card-image:hover {
    filter: drop-shadow(0px 10px 5px rgba(49, 49, 49, 0.5));

}

.info {
    position: relative;
}

.card .title {
    font-size: 0.8rem;
    margin: 2px;
    color :var(--primary-text-color);
}

.card .content {
    font-size: 0.6rem;
    margin: 2px 0;
    color :var(--secoundry-text-color);
}

.card button {
    line-height: normal;
    position: absolute;
    right: 5px;
    top: 1rem;
    padding: 0.3rem 0.3rem 0.2rem;
    border-radius: 50%;
}

.card .rating {
    display: flex;
    align-items: center;
}

.star-icon {
    padding-right: 5px;
    display: inline-block;
    width: 18px;
    height: 18px;
}

.card .rating p {
    margin: 0%;
    font-size: 0.6rem;

}

.card .price {
    display: block;
    font-size: 0.7rem;
    margin: 0.5rem 0;
    color :var(--primary-text-color);
}


@media screen and (max-width: 819px) {

    #products .container {
        width: 78%;
    }

    #products .container {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        padding: 1rem 2rem 1rem 1rem;
        justify-content: space-between;
        overflow-x: auto;
        scrollbar-color: #d4aa70 #e4e4e4;
        scrollbar-width: thin;
    }

    #products .grid-container {
        padding: 0 2px 100px;
        display: flex;
        justify-content: space-around;
    }

    .grid-container .card {
        margin: 0.2rem;

    }

    .grid-container .card-image {
        width: 175px;
    }



}

@media screen and (max-width: 390px) {
    .grid-container .card-image {
        width: 220px;
    }

}

/* ends products */



/* start item */

#item {
    background-color: var(--secounder-background-color);
    min-height: 100vh;
}

#item .grid-container {
    justify-content: center;
    align-items: unset;
}

#item .grid-item {
    position: relative;
}

#item .grid-item:nth-child(1) button {
    display: contents;
}

#item .grid-item:nth-child(2) {
    margin-bottom: 10rem;
    max-width: 400px;
    width: 100%;
}

#item .title {
    font-size: 23px;
    margin-bottom: 5px;
}

#item button {
    display: block;
    margin: 2rem 0 0;
    width: 100%;
    background: linear-gradient(179deg, #ffc567 -52.8%, rgb(0 0 0 / 41%) 211.15%);
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
#item button.ancher{
    display: contents;
}

#item button:hover {
    background: linear-gradient(359deg, #ffc567ad -52.8%, rgb(255 255 255 / 41%) 211.15%);
}

.status {
    font-size: 14px;
    margin-top: 0px;
}

.price {
    font-size: 23px;
    letter-spacing: 0.05em;
}

.rating {
    display: flex;
    align-items: center;

}

.rating i {
    color: #ffc567ad;
}

.rating .star-icon {
    width: 15px;
    height: 15px;
}

.colors {
    display: flex;
    align-items: center;
    height: 2rem;
}

.sizing {
    display: flex;
    height: 3rem;
}

.qty {
    display: inline-block;
    margin: 3% 23% 13% 0%;
    font-size: 0.8rem;
}

#item .colors button {
    display: contents;
}

.colors .color-box {
    margin: 0;
    margin-right: 10px;
    transition: all .5s ease-in-out;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.colors .color-box:hover {
    background-color: #484a4c;
    border: 2px solid #999;
    transform: scale(1.2);
}
.colors .color-box.disapled:hover{
    border: unset;
    transform: unset;
}
#item .sizing button {
    display: contents;
}

.sizing span {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(21, 21, 21);
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.sizing span:hover {
    background-color: #484a4c;
    border: 2px solid #999;
    transform: scale(1.2);
}
.sizing span.disapled:hover{
    background-color: rgb(21, 21, 21);
    border: unset;
    transform: unset;

}

.card-image.large {
    width: 70%;
}

.side-image {
    background-color: #999;
    margin: 10px;
    width: 70px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.card-side-image {
    display: inline-grid;
    position: absolute;
}

.card-side-image a {
    display: contents;
}

.side-image:hover {
    transform: scale(1.2);  
}


@media screen and (max-width: 830px) {
    .card-image.large {
        width: 95.7%;
    }

    .card-side-image {
        display: initial;
        position: unset;
    }

    .side-image {
        width: 50px;
    }

    #item a.prev-icon {
        top: 21rem;
    }

    #item a.next-icon {
        bottom: 23rem;
        left: 94%;
    }





}


/* end item */

/* start bag */
#bag {
    background-color: var(--secounder-background-color);
    min-height: 90vh;
}

#bag .grid-container {
    height: 100%;
    justify-content: space-around;
    align-items: unset;
}

#bag .grid-item:nth-child(1) {
    max-width: 600px;
    min-height: 90vh;
    width: 100%;
}

#bag .grid-item:nth-child(2) {
    max-width: 400px;
    width: 60%;
    height: 13rem;
}

.bag-card {
    margin-bottom: 1rem;
    position: relative;
    max-width: 800px;
    width: 100%;
    background-color: #999;
    padding: 0 1rem;
    border-radius: 32px 0px;
    display: flex;

}

.bag-card .item-img {
    width: 150px;
    margin: 1rem 0.5rem;
}

.bag-card .colors {
    display: flex;
    height: 2rem;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.bag-card .number {
    margin-left: 1rem;
    display: inline-block;
}

.bag-card .price {
    display: inline-block;
}

.bag-card .colors .white-box {
    margin-right: 0.5rem;
}

.bag-card .title {
    font-size: 1rem;
}

.bag-card .delet {
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
}

.check-out {
    position: relative;
    width: 100%;
    height: 100%;
}

.check-out button {
    position: absolute;
    background: #fff;
    color: #141517;
    width: 100%;
}

.check-out button:hover {
    background: linear-gradient(359deg, #999 -52.8%, rgb(255 255 255 / 41%) 211.15%);
}

#bag .grid-item:nth-child(2) h6 {
    font-size: 1rem;
    margin: 1rem;

}

#bag .grid-item:nth-child(2) p {
    margin: 1rem;
}

@media screen and (max-width: 1060px) {
    #bag .grid-container {
        padding: 0%;
    }

    #bag .grid-item:nth-child(2) {
        border-radius: 25px 25px 0 0;
        width: 100%;
        max-width: inherit;
        padding: 5px;
        position: sticky;
        background-color: #242526;
        bottom: 0%;
        height: 7rem;
    }
    #bag .grid-item:nth-child(2) .white-text{
        color: #fff;
    }
    .check-out button {
        position: absolute;
        right: 1rem;
        bottom: 50%;
        width: 8rem;
        height: 2rem;
        padding: 0%;
    }

}

@media screen and (max-width: 830px) {
    .bag-card .item-img {
        width: 80px
    }

    .bag-card {
        margin: 1rem;
        width: 80%;
    }

    .bag-card .colors {
        display: flex;
        height: 1rem;
        margin: 0.5rem 0;
        font-size: 15px;
    }

    .bag-card .avilability {
        font-size: 15px;
    }

    .bag-card .number input {
        height: 17px;
        width: 19px;
        font-size: 10px;
    }

    .bag-card .number span {
        width: 0px;
        height: 0px;
        padding: 0px 5px 0px 5px;
        display: unset;

    }

    .bag-card .price {
        display: inline-block;
        font-size: 15px;
    }

    .bag-card .colors .white-box {
        margin-right: 0.5rem;
    }

    .bag-card .title {
        font-size: 13px;
    }

    #bag .grid-item:nth-child(2) h1 {
        font-size: 0.8rem;

    }




}




/* enf bag */


/* start signin  */
#signin {
    min-height: 90vh;
    background-color: var(--secounder-background-color);
    color: var(--primary-text-color);
}
  
  
  #signin * {
    box-sizing: border-box;
  }
  
  #signin h1{
    text-align: center;
  }
   form{
    margin-top: 7rem;
    max-width: unset;
    display: grid;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  }
  #signin div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #signin .grid-container{
    justify-content: space-between;
  }
  #signin button{
    margin: 3rem auto;
    background: brown;
  }
  #signin button.ancher img{
    box-sizing: unset;
  }
  #signin a{
    color: #bf7a7a;
  }
  #signin a:hover{
    color: brown;
  }
  .inp {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 280px;
    height: 53px;
  }
  .inp .border {
    height: 18px;
    fill: none;
  }
  .inp .border path {
    stroke: var(--secoundry-text-color);
    stroke-width: 2;
  }
  .inp .border path d {
    transition: all 0.2s ease;
  }
  .inp .check {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: none;
    transform: translate(0, 9px) scale(0);
    transition: all 0.3s cubic-bezier(0.5, 0.9, 0.25, 1.3);
    transition-delay: 0.15s;
  }
  .inp .check path {
    stroke: brown;
    stroke-width: 2;
  }
  .inp textarea,
  .inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 0;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    color: var(--primary-text-color);
    transition: all 0.15s ease;
  }
  .inp input:focus {
    outline: none;
  }
  .inp input:focus + .border path {
    stroke: brown;
  }
  .inp input:valid + .border path {
    animation: elasticInput 0.8s ease forwards;
  }
  .inp input:valid + .border + .check {
    transform: translate(0, 0) scale(1);
  }
  ::placeholder {
    color: #9098a983;
  }
  @-moz-keyframes elasticInput {
    33% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
  }
  @-webkit-keyframes elasticInput {
    33% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
  }
  @-o-keyframes elasticInput {
    33% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
  }
  @keyframes elasticInput {
    33% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,1 253,1 C261,1 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
    66% {
      d: path("M0,12 L226,12 C220,12 220.666667,12 228,12 C239,12 245,17 253,17 C261,17 268,12 278,12 C284.666667,12 285.333333,12 280,12");
    }
  }
  
   
    
    




/* end signin  */



/* checkout steps */
.checkout-steps > div {
    font-size: 0.8rem;
    font-weight: bold;
    border-top: 0.3rem #c0c0c0 solid ;
    color:#c0c0c0;
    flex:1;
    padding: 1rem;
}
.checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
}
@media screen and (max-width: 768px) {
    .checkout-steps > div {
        font-size: 0.5rem;
        padding: 0.4rem;

    }
}

/* end cheoutsteps */


/* start shiping */
#shiping{
    min-height: 90vh;
    background-color: var(--secounder-background-color);
    color: var(--primary-text-color);
}#shiping .go-back{
    padding: 0 12px 0px 0px;
}
#shiping *{
    margin: 0;
}
#shiping .inp {
    height: unset;
    max-width: unset;
    width: 100%;
}
#shiping .inp input{
    height: 2rem;
   
}
#shiping form .border{
    display: none;

}
#shiping .inp .check {
    top: 16px;
}
#shiping .inp .check path {
    stroke: #fff;
}

#shiping hr{    
    max-width: 700px;
    border-bottom: 0;
    margin: 5px auto;
}
#shiping h3{
    max-width: 700px;
    margin: 1rem auto;
    font-size: 1rem;
}
#shiping .item-body{
    background-color: var(--primary-background-color);
    border-radius: 0.5rem;
    margin: 1rem auto;
    max-width: 500px;
}
#shiping .promo-code{
    background-color: var(--primary-background-color);
    border-radius: 0.5rem;
    max-width: 500px;
    width: 80%;
    padding: 0.5rem ;
}
#shiping img{
    margin-right:1rem ;
}

.item-body .grid-container{
    padding: 0;
}


.item-body .mid-image{
    width: 3rem;
    background-color: #999;
    padding: 4px;
    border-radius: 0.5rem;

}
#shiping .color-box {
    display: block;
    margin: 0;
    margin-right: 5px;
}
#shiping .colors{
    display: flex;
    align-items: center;
}

/* promo code */


/* form inputs */




/* start shiping */
@media screen and (max-width: 550px) {
    #shiping hr{    
    margin: 5px 1rem;
    }
    #shiping h3{
    margin: 1rem ;
    }
    .item-body h4{
        font-size: 0.8rem;
    }
    .item-body p{
        font-size: 0.5rem;
    }
    .item-body .big-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    #shiping .item-body{
        margin: 1rem;

    }
}




/* start footer  */

footer {
    background-color: #505050;
}

footer a {
    display: inline-block;
    padding: 5px;
}

footer .center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.grid-container {
    padding-bottom: 5px;
    padding-top: 10px;
    justify-content: center;
}

footer h6 {
    margin: 0%;
}